*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.phpintel/
*.log

# WordPress Core
/wordpress

# Uploads
/wp-content/uploads

# Plugin vendor files
/wp-content/plugins/*/vendor/*

# JointsWP template build files
*.sass-cache*
/wp-content/themes/*/assets/css/*
/wp-content/themes/*/assets/js/*
# !/wp-content/themes/*/assets/js/scripts/
# !/wp-content/themes/*/assets/js/tinymce/
/wp-content/themes/*/vendor/*
