*~
.DS_Store
.svn
.cvs
bk.*
*.bak
*.swp
Thumbs.db
.phpintel/
*.log

# WordPress Core
/wordpress

# Example Plugin
/public/wp-content/plugins/pressingspace-example/vendor/*

# Example Theme
*.sass-cache*
public/wp-content/themes/pressingspace-example/assets/css/*
public/wp-content/themes/pressingspace-example/assets/js/*
# !public/wp-content/themes/pressingspace-example/assets/js/scripts/
# !public/wp-content/themes/pressingspace-example/assets/js/tinymce/
/public/wp-content/themes/pressingspace-example/bower_components/*
/public/wp-content/themes/pressingspace-example/node_modules/*
/public/wp-content/themes/pressingspace-example/vendor/*
