*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.phpintel/
*.log

# WordPress core
/wordpress

# default wp-content files
/wp-content/index.php
/wp-content/languages
/wp-content/upgrade
/wp-content/uploads
/wp-content/plugins/akismet
/wp-content/plugins/hello.php
/wp-content/plugins/index.php
/wp-content/themes/twentynineteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentysixteen
/wp-content/themes/index.php

# Plugin vendor files
/wp-content/plugins/*/vendor/*

# JointsWP starter theme
/wp-content/themes/starter-theme

# JointsWP build files
*.sass-cache*
/wp-content/themes/*/assets/css/*
/wp-content/themes/*/assets/js/*
# !/wp-content/themes/*/assets/js/scripts/
# !/wp-content/themes/*/assets/js/tinymce/
/wp-content/themes/*/vendor/*
